.container {
  margin-inline: auto;
	text-align: center;
  display: grid;
  gap: 2rem;
}

.shuffleArea {
  --item-size: 300px;
  --item-length: 10;
	overflow: hidden;
	width: var(--item-size);
  margin-inline: auto;
}

.shuffleList {
	transform: translateX(0);
	display: flex;
	animation: move 2s steps(var(--item-length)) infinite;
}

.shuffleList[data-shuffle="false"] {
	animation-play-state: paused;
}

.shuffleItem {
	flex-shrink: 0;
	width: var(--item-size);
}

.button {
  width: fit-content;
  margin-inline: auto;
  background: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 0 #ccc;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  border: 1px solid #bbb;
}

.button:disabled {
  cursor: not-allowed;
  color: #aaa;
  box-shadow: none;
}

@media (any-hover: hover) {
  .button:hover {
    box-shadow: none;
  }
}

.button:focus {
  outline: 1px solid #666;
  box-shadow: none;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
	to {
		transform: translateX(calc(var(--item-size) * var(--item-length) * -1));
	}
}
